@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&family=Ramaraja&display=swap");
.font-ramaraja {
  @import url("https://fonts.googleapis.com/css2?family=Ramaraja&display=swap");
  font-family: "Ramaraja", serif;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    overflow-x: hidden;
  }
}
:root {
  --blck: #000000;
  --wht: #ffffff;
  --gry: #8d8d8d;
  --txtclr: #353535;
  --prtxt: #939393;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #ffffff !important;
  margin: 0;
  font-family: "Inter", sans-serif !important;
  overflow-x: hidden;
}
body img {
  width: 100%;
}
body a,
body p,
body span,
body strong {
  font-family: "Inter", sans-serif !important;
}
body p {
  margin-bottom: 0em;
}

/**
copilot lading page style here
**/
.top-main-container {
  background-image: url(../pages/copilotpage/img/top-bg.png);
  height: 120vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
.top-main-container .brand_logo {
  width: 85px;
}
.top-main-container .blur-1 {
  position: relative;
  height: 90%;
  width: 100%;
  position: absolute;
  z-index: -9;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
.top-main-container div {
  z-index: 2;
}
.top-main-container .bg-blur {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.top-main-container .bg-blur::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background: rgba(116, 116, 116, 0.0392156863);
  width: 80%;
  height: 50%;
}
.top-main-container > div:nth-child(1) {
  width: 100%;
  background-color: #000;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.top-main-container span {
  color: #fff;
  text-decoration: underline;
}
.top-main-container span img {
  width: 13px;
  height: 13px;
  margin-right: 10px;
}
.top-main-container .waitlist-div {
  margin: 30px 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.top-main-container .waitlist-div div {
  width: 92%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.top-main-container .waitlist-div .brand_logo img {
  width: 100px;
  height: auto;
}
.top-main-container .waitlist-div button {
  border: none;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 10px 30px 10px 10px;
  border-radius: 10px;
  font-weight: 600;
}
.top-main-container .blur-2 {
  position: relative;
  color: #fff;
  width: 100%;
}
.top-main-container .blur-2 div {
  margin: auto;
  padding: 20px;
}
.top-main-container .blur-2 div h1 {
  font-size: 5vw;
  font-weight: 400;
  margin-bottom: 8px;
  text-align: center;
}
.top-main-container .blur-2 div p {
  text-align: center;
  font-size: 1.2rem;
}
@media screen and (min-width: 1390px) {
  .top-main-container .blur-2 div h1 {
    font-size: 4em;
  }
}
@media screen and (min-width: 1690px) {
  .top-main-container .blur-2 div h1 {
    font-size: 5em;
  }
  .top-main-container .blur-2 div p {
    text-align: center;
    font-size: 1.5rem;
  }
}
.top-main-container .video {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}
.top-main-container .video video {
  background-color: #d9d9d9;
  width: 759px;
  height: 40vh;
}
@media screen and (min-width: 1390px) {
  .top-main-container .video video {
    background-color: #d9d9d9;
    width: 859px;
    height: 384px;
  }
}
@media screen and (min-width: 1650px) {
  .top-main-container .video video {
    background-color: #d9d9d9;
    width: 860px;
    height: 404px;
  }
}
.top-main-container .video button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-top: 2.5rem;
  padding: 16px 60px;
  background-color: #fff;
  color: #000;
  z-index: 2;
  border: none;
  border: 6px solid #fff;
  font-size: 1.4rem;
  transition: border 0.3s;
}
.top-main-container .video button img {
  width: 10px;
  height: auto;
  margin-left: 15px;
}
.top-main-container .video button:hover {
  border: 6px solid #000;
}
@media screen and (max-width: 768px) {
  .top-main-container .blur-2 div {
    width: 100%;
  }
  .top-main-container .blur-2 div h1 {
    font-size: 6vw;
  }
  .top-main-container .blur-2 div p {
    font-size: 1.6rem;
  }
  .top-main-container .video video {
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  .top-main-container .blur-2 div {
    width: 100%;
  }
  .top-main-container .blur-2 div h1 {
    font-size: 2rem;
  }
  .top-main-container .blur-2 div p {
    font-size: 1rem;
  }
  .top-main-container button {
    padding: 10px 30px;
    font-size: 1rem;
  }
}

.imgdiv {
  transform: translate(18px, -3px);
  width: 15px;
}

.part-one {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.part-one > div {
  width: 92%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #a3a3a3;
  margin-top: 50px;
  padding-top: 50px;
}
.part-one > div > p {
  width: 100%;
  text-align: left;
  font-size: 1.4rem;
  margin-bottom: 20px;
}
.part-one > div > .left {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 50px;
}
.part-one > div > .left > div:nth-child(1) {
  width: 38%;
}
.part-one > div > .left > div:nth-child(1) h1 {
  font-size: 3.2vw;
  font-weight: 550;
  margin-bottom: 40px;
}
.part-one > div > .left > div:nth-child(1) p {
  font-size: 1.2vw;
  font-weight: 500;
}
.part-one > div > .left > div:nth-child(1) .line-height {
  line-height: 2.2;
  margin-bottom: 10px;
}
.part-one > div > .left > div:nth-child(1) button {
  margin-top: 100px;
  padding: 20px 50px;
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: start;
  background-color: #000;
  color: #fff;
  border: 5px solid #000;
  transition: border 0.3s;
}
.part-one > div > .left > div:nth-child(1) button img {
  width: 12px;
  height: auto;
  margin-left: 10px;
}
.part-one > div > .left > div:nth-child(1) button:hover {
  border: 5px solid #fff;
}
.part-one > div > .left > div:nth-child(2) {
  position: relative;
  width: 55%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.part-one > div > .left > div:nth-child(2) > img {
  position: relative;
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 768px) {
  .part-one > div > p {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .part-one > div > .left {
    flex-direction: column-reverse;
  }
  .part-one > div > .left > div {
    width: 100% !important;
  }
  .part-one > div > .left > div:nth-child(1) h1 {
    font-size: 6vw;
  }
  .part-one > div > .left > div:nth-child(1) p {
    font-size: 3vw;
  }
  .part-one > div > .left > div:nth-child(1) button {
    margin-top: 8vw;
    font-size: 2.8vw;
    padding: 3vw 6vw;
  }
  .part-one > div > .left > div:nth-child(1) button img {
    width: 1.6vw;
  }
  .part-one > div > .left > div:nth-child(2) {
    margin-bottom: 50px;
  }
}

.part-two {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.part-two > div {
  width: 92%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #a3a3a3;
  margin-top: 50px;
  padding-top: 50px;
}
.part-two > div > p {
  width: 100%;
  text-align: right;
  font-size: 1.4rem;
  margin-bottom: 20px;
}
.part-two > div > .left {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-bottom: 50px;
}
.part-two > div > .left > div:nth-child(1) {
  width: 43%;
}
.part-two > div > .left > div:nth-child(1) h1 {
  font-size: 3.2vw;
  font-weight: 550;
  margin-bottom: 40px;
}
.part-two > div > .left > div:nth-child(1) p {
  font-size: 1.2vw;
  font-weight: 500;
}
.part-two > div > .left > div:nth-child(1) .line-height {
  line-height: 2.2;
  margin-bottom: 10px;
}
.part-two > div > .left > div:nth-child(1) button {
  margin-top: 100px;
  padding: 20px 50px;
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: start;
  background-color: #000;
  color: #fff;
  transition: border 0.3s;
}
.part-two > div > .left > div:nth-child(1) button:hover {
  border: 5px solid #fff;
}
.part-two > div > .left > div:nth-child(1) button img {
  width: 12px;
  height: auto;
  margin-left: 10px;
}
.part-two > div > .left > div:nth-child(2) {
  display: flex;
  flex-direction: column !important;
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.part-two > div > .left > div:nth-child(2) > img {
  position: relative;
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.part-two > div > .left > div:nth-child(2) p {
  text-align: left;
  font-size: 1.08rem;
}
@media screen and (max-width: 768px) {
  .part-two > div > p {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .part-two > div > .left {
    flex-direction: column-reverse;
  }
  .part-two > div > .left > div {
    width: 100% !important;
  }
  .part-two > div > .left > div:nth-child(1) h1 {
    font-size: 6vw;
  }
  .part-two > div > .left > div:nth-child(1) p {
    font-size: 3vw;
  }
  .part-two > div > .left > div:nth-child(1) button {
    margin-top: 8vw;
    font-size: 2.8vw;
    padding: 3vw 6vw;
  }
  .part-two > div > .left > div:nth-child(1) button img {
    width: 1.6vw;
  }
  .part-two > div > .left > div:nth-child(2) {
    margin-bottom: 50px;
  }
}

.part-three {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.part-three > div {
  width: 92%;
  margin-top: 50px;
  padding-top: 50px;
  border-top: 1px solid #a3a3a3;
}
.part-three > div p {
  width: 100%;
  text-align: left;
  font-size: 1.4rem;
}
.part-three > div > div {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.part-three > div > div > div {
  width: 38%;
  font-size: 1.8vw;
  line-height: 120%;
}
.part-three > div > div > div:nth-child(1) {
  color: #787878;
}
.part-three > div > div > div:nth-child(2) {
  font-weight: 500;
}
@media screen and (max-width: 425px) {
  .part-three > div p {
    font-size: 1rem;
  }
  .part-three > div > div {
    margin-top: 20px;
    flex-direction: column;
  }
  .part-three > div > div div {
    width: 100%;
    margin-bottom: 8vw;
    font-size: 3vw;
  }
}

.part-four {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.part-four > div {
  width: 92%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #a3a3a3;
  margin-top: 50px;
  padding-top: 50px;
}
.part-four > div > p {
  width: 100%;
  text-align: left;
  font-size: 1.4rem;
  margin-bottom: 20px;
}
.part-four > div > .left {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 50px;
}
.part-four > div > .left > div:nth-child(1) {
  width: 38%;
}
.part-four > div > .left > div:nth-child(1) h1 {
  font-size: 3.2vw;
  font-weight: 550;
  margin-bottom: 40px;
  color: #000;
}
.part-four > div > .left > div:nth-child(1) p {
  font-size: 1.2vw;
  font-weight: 500;
  color: #000;
}
.part-four > div > .left > div:nth-child(1) .line-height {
  line-height: 2.2;
  margin-bottom: 10px;
}
.part-four > div > .left > div:nth-child(1) button {
  margin-top: 100px;
  padding: 20px 50px;
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: start;
  background-color: #000;
  border: 5px solid #000;
  transition: border 0.3s;
  color: #fff;
}
.part-four > div > .left > div:nth-child(1) button:hover {
  border: 5px solid #fff;
}
.part-four > div > .left > div:nth-child(1) button img {
  width: 12px;
  height: auto;
  margin-left: 10px;
}
.part-four > div > .left > div:nth-child(2) {
  position: relative;
  width: 55%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.part-four > div > .left > div:nth-child(2) > img {
  position: relative;
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 768px) {
  .part-four > div > p {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .part-four > div > .left {
    flex-direction: column-reverse;
  }
  .part-four > div > .left > div {
    width: 100% !important;
  }
  .part-four > div > .left > div:nth-child(1) h1 {
    font-size: 6vw;
  }
  .part-four > div > .left > div:nth-child(1) p {
    font-size: 3vw;
  }
  .part-four > div > .left > div:nth-child(1) button {
    margin-top: 8vw;
    font-size: 2.8vw;
    padding: 3vw 6vw;
  }
  .part-four > div > .left > div:nth-child(1) button img {
    width: 1.6vw;
  }
  .part-four > div > .left > div:nth-child(2) {
    margin-bottom: 50px;
  }
}

.part-five {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 300px;
}
.part-five > div {
  margin-top: 50px;
  padding-top: 50px;
  border-top: 1px solid #a3a3a3;
  width: 92%;
  display: flex;
  flex-direction: row;
}
.part-five > div > div {
  width: 50%;
}
.part-five > div > div:nth-child(1) {
  font-size: 1.4rem;
}
.part-five > div > div:nth-child(2) {
  font-size: 1.6rem;
  font-weight: 600;
}

.justAbovFooter {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.justAbovFooter .content {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.justAbovFooter .content div {
  width: 50%;
}
.justAbovFooter .content > div:nth-child(1) {
  background-image: url(../pages/copilotpage/img/blur-left.png);
  height: 299px;
}
.justAbovFooter .content > div:nth-child(2) {
  background-image: url(../pages/copilotpage/img/blur-right.png);
  height: 299px;
}
@media screen and (max-width: 768px) {
  .justAbovFooter .content {
    flex-direction: column;
  }
  .justAbovFooter .content div {
    width: 100%;
  }
}
.justAbovFooter .under-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.justAbovFooter .under-content > div {
  width: 92%;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.justAbovFooter .under-content > div div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.justAbovFooter .under-content > div div span {
  font-size: 2.6vw;
  font-weight: 600;
}
.justAbovFooter .under-content > div div input {
  width: 35vw;
  border: 5px solid #ffffff;
  border-radius: 5px;
  padding: 18px 15px;
  margin-top: 3vw;
  background: transparent;
  font-size: 1.8rem;
  color: #fff;
}
.justAbovFooter .under-content > div div ::-moz-placeholder {
  color: #fff;
}
.justAbovFooter .under-content > div div :-ms-input-placeholder {
  color: #fff;
}
.justAbovFooter .under-content > div div ::placeholder {
  color: #fff;
}
@media screen and (max-width: 768px) {
  .justAbovFooter .under-content > div {
    flex-direction: column;
  }
  .justAbovFooter .under-content > div div {
    justify-content: center;
    height: 299px;
    width: 100%;
  }
  .justAbovFooter .under-content > div div span {
    text-align: center;
    width: 100%;
    font-size: 5vw;
    font-weight: 600;
  }
  .justAbovFooter .under-content > div div input {
    width: 80vw;
    border: 5px solid #ffffff;
    border-radius: 5px;
    padding: 18px 15px;
    margin-top: 10vw;
    font-size: 1rem;
    color: #fff;
  }
}

.footer-section {
  background-color: black;
  color: #fff;
  padding: 50px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-section .footerlogo {
  width: 80px;
}
.footer-section div {
  width: 48%;
}
.footer-section > div:nth-child(1) {
  width: 48%;
}
.footer-section > div:nth-child(1) img {
  width: 100px;
  height: auto;
}
.footer-section > div:nth-child(1) p {
  padding-bottom: 5px;
}
.footer-section > div:nth-child(2) {
  display: flex;
  flex-direction: row;
}
.footer-section > div:nth-child(2) ul {
  list-style: none;
}
.footer-section > div:nth-child(2) ul li {
  margin: 5px 0 10px 0;
}
.footer-section > div:nth-child(2) > ul:nth-child(2) {
  margin-left: 180px;
}
@media screen and (max-width: 768px) {
  .footer-section {
    flex-direction: column-reverse;
    justify-content: unset;
    align-items: center;
  }
  .footer-section > div {
    width: 100%;
    justify-content: center;
  }
  .footer-section > div:nth-child(1) {
    width: 100%;
  }
  .footer-section > div:nth-child(1) p {
    width: 100%;
  }
  .footer-section > div:nth-child(1) div {
    width: 100%;
  }
  .footer-section > div:nth-child(2) {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 425px) {
  .footer-section > div:nth-child(2) {
    display: flex;
    flex-direction: column;
  }
  .footer-section > div:nth-child(2) > ul:nth-child(2) {
    margin-left: unset;
  }
}/*# sourceMappingURL=topSection.css.map */